/*
font-family: 'Montserrat', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Fauna One', serif;
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff;
	color: #333333;
}

a {
	color: #222222;
}

a:hover {
	opacity: 0.5;
}

p {
	font-family: 'Fauna One', serif;
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
}


header {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	background-color: white;
	opacity: 0.9;
	z-index: 99;
}

header h1 {
	display: inline-block;
	margin-left: 40px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

header ul {
	font-size: 18px;
	float: right;
	top: 50%;
	position: relative;
	transform: translateY(-50%) translateX(-20px);
}

header li {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	margin-right: 10px
}

header + * {
	margin-top:100px;
}

footer {
	background-color: #aaaaaa;
	font-size: 8pt;
	min-height: 200px;
	padding: 10px 40px;
	margin-bottom: 100vh;
}

a i::before {
	content: "\a0"
}

a[name] {
	display: block;
	position: relative;
	top: -100px;
}

a i {
	display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 1em;
}

a[href="#about"] i {
    background-image: url(globe.svg);
}

a[href="#projects"] i {
    background-image: url(rocket.svg);
}

a[href*="github.com"] i {
    background-image: url(github.svg);
}

a[href*="raspberrypi.org"] i {
    background-image: url(raspberry-pi.svg);
}

a[href="#downloads"] i {
    background-image: url(downloads.svg);
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 36pt;
	color: #333333;
}

h2 {
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24pt;
	color: #333333;
}

a[name="about"] + section {
	background-color: #61e0fa;
}

section {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 100px;
}

.buttons {
	height: 70px;	
}

.buttons  > .button {
	vertical-align: top;
	position: relative;
	top: 50%;
	display: inline-block;
	transform: translateY(-50%);
}
	
